[submodule "babyecho-mobile"]
	path = babyecho-mobile
	url = https://github.com/houssein-berro/babyecho-mobile
[submodule "babyecho-backend"]
	path = babyecho-backend
	url = https://github.com/houssein-berro/babyecho-backend
[submodule "babyecho-ml"]
	path = babyecho-ml
	url = https://github.com/houssein-berro/babyecho-ml.git
[submodule "babyecho-doctor"]
	path = babyecho-doctor
	url = https://github.com/houssein-berro/babyecho-doctor.git
